/* Creed Garner 
Edited Dec 17,2021*/

body {
    background-image: url("../images/bg.png");
}
.tabbg{
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
}
header {
    text-align:center;
}
.navDiv {
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}
.navLink {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
a{
    color:#000000
}
.footer {
    background-color: #0f1725;
  }
.tableau-footer {
    bottom: 5px;
    height: 10px;
    left: 5px;
    right: 5px;
    font-size: 8px;
    color: #f1f1f1;
    text-align: center;
    position: fixed;
}
.tableau-caption {
    color: azure;
    font-weight: 500;

}
.table-div {
    border: 2px double grey;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.info-div{
    text-align: center;
    color: grey;
}